block header
    div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        div.container
            div.navbar-header
                a.navbar-brand(href='/') #{title}
            div.collapse.navbar-collapse
                ul.nav.navbar-nav
                    block controls