extends layout

block head
    link(rel='stylesheet', href='/stylesheets/index.css')

block body
    include header
    div.jumbotron
        div.container
            h1="Hello"
            a#new.btn.btn-primary.btn-lg="New scrapbook"
    script(src='/javascripts/index.js')
