doctype html
html
    head
        title=title
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet',  href='/bootstrap/css/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/layout.css')
        script(src='/jquery/jquery.js')
        block head
    body
        block body
        script(src='/bootstrap/js/bootstrap.js')