doctype html
html
    head
        title=title
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/3rdparty/bootstrap/css/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/layout.css')
        script(src='/3rdparty/jquery/jquery.js')
        script(src='/3rdparty/bootstrap/js/bootstrap.js')
        block head
    body
        block body
