doctype 5
html
    head
        title=title
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet',  href='/bootstrap/css/bootstrap.css')
    body
        block content
        script(src='/jquery/jquery.js')
        script(src='/jquery/jquery.autosize.js')
        script(src='/bootstrap/js/bootstrap.js')
        script(src='/javascripts/i.js')