div#cell.cell.container(style='display:none;')
    div.in.row
        div.col-md-2
            span.label-in.label.label-primary="In []"
        div.col-md-10
            textarea.cell-input.form-control(rows=1, autocomplete="off", autocorrect="off", autocapitalize="off", spellcheck="false")
    div.out.row
        div.col-md-2
            span.label-out.label.label-danger="Out []"
        div.col-md-10
            pre.cell-output(style='display:none;')
