extends layout

block head
    link(rel='stylesheet', href='/stylesheets/scrapbook.css')
    // codemirror dependencies:
    script(src='/3rdparty/codemirror/codemirror.js')
    script(src='/3rdparty/codemirror/mode/javascript.js')
    script(src='/3rdparty/codemirror/addon/hint/show-hint.js')
    link(rel='stylesheet', href='/3rdparty/codemirror/codemirror.css')
    link(rel='stylesheet', href='/3rdparty/codemirror/addon/hint/show-hint.css')
    link(rel='stylesheet', href='/3rdparty/codemirror/codemirror_custom.css')

block body
    include scrapbook_header
    div#document.container
        include scrapbook_cell
    script(src='/javascript/scrapbook.js')