extends header
block controls
    div.collapse.navbar-collapse
        form.navbar-form.navbar-left
            div.form-group
                input#name.form-control(type="text", value=id, size=64, autocomplete="off", autocorrect="off", autocapitalize="off", spellcheck="false")
            button#save.btn.btn-default(type="button")="Save"
            span#save-status.label
