#document {
    padding: 15px 40px;
}

.cell {
    margin:10px;
    padding:10px;
    border:1px solid #cccccc;
    border-radius:4px;
}

.cell-output {
    margin-top: 10px;
}

form.navbar-form.navbar-left >* {
    margin-right: 15px;
}