#document {
    padding: 15px 40px;
}

form.navbar-form.navbar-left > * {
    margin-right: 15px;
}

.cell {
    margin: 10px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.cell .out {
    margin-top: 10px;
}

.cell .input-prompt {
    color: navy;
}

.cell .output-prompt {
    color: darkred;
}

.cell * {
    font-family: Courier;
    font-size: 12px;
}

dl.dropdown-menu {
    padding: 5px;
    width: 300px;
    overflow: hidden;
    font-family: Courier;
    font-size: 12px;
}

dl.dropdown-menu dt {
    float: left;
    width: 50%; /* adjust the width; make sure the total of both is 100% */
}

dl.dropdown-menu dd {
    float: left;
    width: 50%; /* adjust the width; make sure the total of both is 100% */
}