#document {
    padding: 15px 40px;
}

form.navbar-form.navbar-left > * {
    margin-right: 15px;
}

.cell {
    margin: 10px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.cell .out {
    margin-top: 10px;
}

.cell .input-prompt {
    color: navy;
}

.cell .output-prompt {
    color: darkred;
}

.cell * {
    font-family: Courier;
    font-size: 12px;
}

/* Auto-resize code mirror */
.CodeMirror {
    border: 1px solid #eee;
    height: auto;
}
.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
}